<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>001</key>
	<string>[开心]</string>
	<key>002</key>
	<string>[大笑]</string>
	<key>003</key>
	<string>[心动]</string>
	<key>004</key>
	<string>[晕]</string>
	<key>005</key>
	<string>[哭]</string>
	<key>006</key>
	<string>[饿]</string>
	<key>007</key>
	<string>[抓狂]</string>
	<key>008</key>
	<string>[怒]</string>
	<key>009</key>
	<string>[脸红]</string>
	<key>010</key>
	<string>[气愤]</string>
	<key>011</key>
	<string>[汗]</string>
	<key>012</key>
	<string>[微笑]</string>
	<key>013</key>
	<string>[睡]</string>
	<key>014</key>
	<string>[贪]</string>
	<key>015</key>
	<string>[捂嘴]</string>
	<key>016</key>
	<string>[酷]</string>
	<key>017</key>
	<string>[囧]</string>
	<key>018</key>
	<string>[惊]</string>
	<key>019</key>
	<string>[骂]</string>
	<key>020</key>
	<string>[鄙视]</string>
	<key>021</key>
	<string>[抠鼻]</string>
	<key>022</key>
	<string>[色]</string>
	<key>023</key>
	<string>[高兴]</string>
	<key>024</key>
	<string>[悲伤]</string>
	<key>025</key>
	<string>[想]</string>
	<key>026</key>
	<string>[难受]</string>
	<key>027</key>
	<string>[亲亲]</string>
	<key>028</key>
	<string>[可爱]</string>
	<key>029</key>
	<string>[白眼]</string>
	<key>030</key>
	<string>[左哼哼]</string>
	<key>031</key>
	<string>[右哼哼]</string>
	<key>032</key>
	<string>[嘘]</string>
	<key>033</key>
	<string>[委屈]</string>
	<key>034</key>
	<string>[瞌睡]</string>
	<key>035</key>
	<string>[压力]</string>
	<key>036</key>
	<string>[问题]</string>
	<key>037</key>
	<string>[眨眼]</string>
	<key>038</key>
	<string>[害羞]</string>
	<key>039</key>
	<string>[流泪]</string>
	<key>040</key>
	<string>[再见]</string>
	<key>041</key>
	<string>[无语]</string>
	<key>042</key>
	<string>[顶]</string>
	<key>043</key>
	<string>[踩]</string>
	<key>044</key>
	<string>[给力]</string>
	<key>045</key>
	<string>[云]</string>
	<key>046</key>
	<string>[朋友]</string>
	<key>047</key>
	<string>[V5]</string>
	<key>048</key>
	<string>[相机]</string>
	<key>049</key>
	<string>[汽车]</string>
	<key>050</key>
	<string>[飞机]</string>
	<key>051</key>
	<string>[送爱心]</string>
	<key>052</key>
	<string>[凹凸曼]</string>
	<key>053</key>
	<string>[兔子]</string>
	<key>054</key>
	<string>[熊猫]</string>
	<key>055</key>
	<string>[不对]</string>
	<key>056</key>
	<string>[OK]</string>
	<key>057</key>
	<string>[棒]</string>
	<key>058</key>
	<string>[勾引]</string>
	<key>059</key>
	<string>[耶]</string>
	<key>060</key>
	<string>[爱你]</string>
	<key>061</key>
	<string>[拳头]</string>
	<key>062</key>
	<string>[小指]</string>
	<key>063</key>
	<string>[握手]</string>
	<key>064</key>
	<string>[玫瑰]</string>
	<key>065</key>
	<string>[心]</string>
	<key>066</key>
	<string>[心碎]</string>
	<key>067</key>
	<string>[猪]</string>
	<key>068</key>
	<string>[咖啡]</string>
	<key>069</key>
	<string>[麦克]</string>
	<key>070</key>
	<string>[月亮]</string>
	<key>071</key>
	<string>[太阳]</string>
	<key>072</key>
	<string>[啤酒]</string>
	<key>073</key>
	<string>[萌]</string>
	<key>074</key>
	<string>[礼物]</string>
	<key>075</key>
	<string>[互粉]</string>
	<key>076</key>
	<string>[时钟]</string>
	<key>077</key>
	<string>[自行车]</string>
	<key>078</key>
	<string>[蛋糕]</string>
	<key>079</key>
	<string>[围脖]</string>
	<key>080</key>
	<string>[手套]</string>
	<key>081</key>
	<string>[雪花]</string>
	<key>082</key>
	<string>[雪人]</string>
	<key>083</key>
	<string>[帽子]</string>
	<key>084</key>
	<string>[竹叶]</string>
	<key>085</key>
	<string>[足球]</string>
</dict>
</plist>
